<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <title>Project 6</title>
    </head>
    <body>

        <section id="loadingscreen">
            <img src="../img/behome.png" alt="behome logo" class="logo">
            <img src="../img/hexagon-large.png" alt="hexagon" class="hexagon-large">
        </section>

        <section id="beginscherm" class>
            <img src="../img/behome.png" alt="behome logo" class="logo">
            <h2>Wij hebben ons genesteld</h2>
        </section>

        <section id="nameHouse" class>
            <h1>Geef je huis een naam</h1>
            <div class="input_holder">
                <input type="text">
            </div>
            <img src="../img/house.png" alt="house" class="houseImage">
            <ul class="progress">
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
            </ul>
        </section>

        <section id="nameRoom" class="">
            <h1>Geef je ruimte een naam</h1>
            <div class="input_holder">
                <input type="text">
            </div>
            <img src="../img/house.png" alt="house" class="houseImage">
            <ul class="progress">
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
            </ul>
        </section>

        <section id="wattage" class="">
            <h1>Wattage</h1>
            <span class="subtext">Hoeveel Watt was jouw vorige lamp?</span>
            <div class="button">Weet ik niet</div>
            <div class="selection">
                <ul class="amount">
                    <li>35</li>
                    <li>40</li>
                    <li>45</li>
                </ul>
                <span class="unit">Watt</span>
            </div>
            <ul class="progress">
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
            </ul>
        </section>

        <section id="activity" class="">
            <h1>Activiteit</h1>
            <span class="subtext">Hoeveel minuten mag de milieubesparende lamp na de laatst geregistreerde beweging?</span>
            <div class="selection">
                <ul class="amount">
                    <li>04</li>
                    <li>05</li>
                    <li>06</li>
                </ul>
                <span class="unit">Minuten</span>
            </div>
            <ul class="progress">
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
            </ul>
        </section>

        <section id="ready" class="">
            <span class="subtext">Hoi! milieubewuste imker, wij zijn er klaar voor</span>
            <span>Nu jij nog</span>
            <div class="button">Verder</div>
            <ul class="progress">
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
            </ul>            
        </section>

        <section id="mainScreen" class="">
            <h1>Hoe sta je er vandaag voor</h1>
            <h2>Wattage besparing</h2>
            <span class="watt_saved">100 Watt</span>
            <ul class="slider">
                <li class="hexagon"></li>
                <li class="hexagon"></li>
                <li class="hexagon"></li>
            </ul>

            <img src="../img/flower.png" alt="flower" class="flower">

            <div class="overlay">
                <div class="wrapper">
                    <span>De bloem groeit elke dag mee met jouw milieubesparing, hoe meer besparing hoe beter</span>
                </div>
            </div>
        </section>

        <footer>
            <ul><!--
                --><li>
                    <img src="../img/housebutton.png" alt="">
                    <span>Huizen</span>
                </li><!--
                --><li>
                    <img src="../img/roombutton.png" alt="">
                    <span>Ruimtes</span>
                </li><!--
                --><li>
                    <img src="../img/sensorbutton.png" alt="">
                    <span>Sensors</span>
                </li><!--
                --><li>
                    <img src="../img/optionbutton.png" alt="">
                    <span>Opties</span>
                </li>
            </ul>
        </footer>

    </body>
</html>
