*{
	margin:0;
	padding:0;
}

html,
body {
	font-family: Anivers-Regular, sans-serif;
	background-color: #248d9b;
}

section{
	width:85%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-weight: 100;
	line-height: 1.3em;
    font-size: 36px;
}

h2 {
	font-size: 2.2em;
	font-weight: 100;
	text-align: center;
}

input:focus{
	outline:none;
}

.wrapper {
    max-width: 320px;
    min-height: 568px;
    background-color: #248d9b;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
