/* line 3, ../../scss/blocks/app.scss */
.app p,
.app h1,
.app h2,
.app h3 {
  color: #fff;
}
/* line 10, ../../scss/blocks/app.scss */
.app__header {
  overflow: hidden;
}
/* line 13, ../../scss/blocks/app.scss */
.app__header-left {
  float: left;
  overflow: hidden;
  width: 25%;
}
/* line 18, ../../scss/blocks/app.scss */
.app__header-left .button--link {
  float: left;
  margin: 15px;
}
/* line 23, ../../scss/blocks/app.scss */
.app__header-center {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  text-align: center;
}
/* line 29, ../../scss/blocks/app.scss */
.app__header-center--large {
  width: 70%;
}
/* line 33, ../../scss/blocks/app.scss */
.app__header-right {
  float: right;
  overflow: hidden;
  width: 25%;
}
/* line 38, ../../scss/blocks/app.scss */
.app__header-right .button--close {
  float: right;
  margin: 15px;
}
/* line 46, ../../scss/blocks/app.scss */
.app__title h1 {
  font-size: 21px;
}
/* line 51, ../../scss/blocks/app.scss */
.app__carousel {
  height: 110px;
  overflow: hidden;
  padding-top: 10px;
}
/* line 56, ../../scss/blocks/app.scss */
.app__carousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
}
/* line 63, ../../scss/blocks/app.scss */
.app__carousel li {
  float: left;
  width: 272px;
}
/* line 69, ../../scss/blocks/app.scss */
.app__carousel-hgroup h1 {
  font-size: 29px;
}
/* line 72, ../../scss/blocks/app.scss */
.app__carousel-hgroup h2 {
  font-size: 60px;
}
/* line 77, ../../scss/blocks/app.scss */
.app__carousel-nav {
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 29px;
}
/* line 82, ../../scss/blocks/app.scss */
.app__carousel-nav a {
  margin: 0px 5px;
}
/* line 85, ../../scss/blocks/app.scss */
.app__carousel-nav a .icon {
  transition: background-position .2s ease;
  background-position: top left;
}
/* line 92, ../../scss/blocks/app.scss */
.app__carousel-nav .active .icon {
  background-position: bottom left;
}
/* line 99, ../../scss/blocks/app.scss */
.app__carousel-large {
  height: 250px;
  overflow: hidden;
  padding-top: 35px;
  margin-left: -80px;
}
/* line 105, ../../scss/blocks/app.scss */
.app__carousel-large-holder {
  overflow: hidden;
  width: 100%;
  height: 250px;
}
/* line 111, ../../scss/blocks/app.scss */
.app__carousel-large ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
}
/* line 118, ../../scss/blocks/app.scss */
.app__carousel-large li {
  float: left;
  width: 160px;
}
/* line 123, ../../scss/blocks/app.scss */
.app__carousel-large-nav {
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 29px;
}
/* line 128, ../../scss/blocks/app.scss */
.app__carousel-large-title {
  padding-top: 30px;
}
/* line 131, ../../scss/blocks/app.scss */
.app__carousel-large-title p {
  text-align: center;
  font-size: 21px;
}
/* line 137, ../../scss/blocks/app.scss */
.app__carousel-large-home {
  background-image: url("../../img/app-home.png");
  background-size: 141px 320px;
  background-position: top left;
  width: 141px;
  height: 160px;
  margin: 0 auto;
  display: block;
}
/* line 146, ../../scss/blocks/app.scss */
.app__carousel-large-home--new {
  background-position: bottom right;
}
/* line 150, ../../scss/blocks/app.scss */
.app__carousel-large-room {
  background-image: url("../../img/app-room.png");
  background-size: 141px 320px;
  background-position: top left;
  width: 141px;
  height: 160px;
  margin: 0 auto;
  display: block;
}
/* line 159, ../../scss/blocks/app.scss */
.app__carousel-large-room--new {
  background-position: bottom right;
}
/* line 165, ../../scss/blocks/app.scss */
.app__flower {
  width: 100%;
  height: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 172, ../../scss/blocks/app.scss */
.app__flower-content {
  background-image: url("../../img/app-flower.png");
  background-position: top left;
  background-size: 142px 345px;
  width: 142px;
  height: 345px;
  margin: 0 auto;
}
/* line 181, ../../scss/blocks/app.scss */
.app__flower--percentage {
  background-image: url("../../img/app-flower-percentage.png");
  background-repeat: no-repeat;
}
/* line 187, ../../scss/blocks/app.scss */
.app__overlay {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(36, 141, 155, 0.9);
  z-index: 1;
}
/* line 197, ../../scss/blocks/app.scss */
.app__overlay-content {
  padding: 33px 16px;
}
/* line 200, ../../scss/blocks/app.scss */
.app__overlay-content p {
  font-size: 18px;
}
/* line 203, ../../scss/blocks/app.scss */
.app__overlay-content--2 {
  margin-top: 300px;
}
/* line 206, ../../scss/blocks/app.scss */
.app__overlay-content--3 {
  margin-top: 300px;
}
/* line 209, ../../scss/blocks/app.scss */
.app__overlay-content--4 {
  margin-top: 300px;
}
/* line 212, ../../scss/blocks/app.scss */
.app__overlay-content--5 {
  margin-top: 300px;
}
/* line 217, ../../scss/blocks/app.scss */
.app__overlay-nav {
  padding: 0px 25px;
  text-align: center;
  margin-bottom: 57px;
}
/* line 225, ../../scss/blocks/app.scss */
.app__menu-item--inactive {
  opacity: .5;
}
/* line 230, ../../scss/blocks/app.scss */
.app__menu-bar {
  position: absolute;
  width: 100%;
  height: 4em;
  left: 0;
  bottom: 0;
}
/* line 237, ../../scss/blocks/app.scss */
.app__menu-bar ul {
  list-style: none;
  height: 100%;
}
/* line 241, ../../scss/blocks/app.scss */
.app__menu-bar ul li {
  float: left;
  width: 25%;
  height: 100%;
  vertical-align: top;
  color: #fff;
  text-align: center;
}
/* line 249, ../../scss/blocks/app.scss */
.app__menu-bar ul li a {
  text-decoration: none;
}
/* line 253, ../../scss/blocks/app.scss */
.app__menu-bar ul li i {
  vertical-align: text-top;
  height: 35px;
}
/* line 258, ../../scss/blocks/app.scss */
.app__menu-bar ul li span {
  display: block;
  text-align: center;
  font-size: 0.9em;
  vertical-align: text-top;
  color: #fff;
}
/* line 269, ../../scss/blocks/app.scss */
.app__list h1 {
  text-align: left;
  font-size: 21px;
}
/* line 273, ../../scss/blocks/app.scss */
.app__list h2 {
  text-align: left;
  font-size: 17px;
}
/* line 277, ../../scss/blocks/app.scss */
.app__list h3 {
  text-align: left;
  font-size: 14px;
}
/* line 281, ../../scss/blocks/app.scss */
.app__list-header {
  padding-bottom: 10px;
}
/* line 284, ../../scss/blocks/app.scss */
.app__list-button-holder {
  width: 200px;
  margin: 0 auto;
}
/* line 288, ../../scss/blocks/app.scss */
.app__list-item {
  padding-top: 30px;
}
/* line 291, ../../scss/blocks/app.scss */
.app__list-item-border {
  background-image: url("../../img/app-list-border.png");
  background-position: center;
  background-size: 262px 7px;
  width: 100%;
  height: 7px;
}
/* line 299, ../../scss/blocks/app.scss */
.app__list-content {
  overflow: hidden;
  padding: 10px 0px;
  text-align: center;
}
/* line 304, ../../scss/blocks/app.scss */
.app__list-icon {
  width: 25%;
  float: left;
}
/* line 308, ../../scss/blocks/app.scss */
.app__list-icon i {
  display: block;
  margin: 0 auto;
}
/* line 313, ../../scss/blocks/app.scss */
.app__list-text {
  width: 75%;
  float: left;
}
