/* line 1, ../../scss/blocks/button.scss */
.button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}
/* line 8, ../../scss/blocks/button.scss */
.button span {
  display: inline-block;
}
/* line 12, ../../scss/blocks/button.scss */
.button__left {
  background-position: bottom left;
  float: left;
}
/* line 18, ../../scss/blocks/button.scss */
.button__right {
  background-position: bottom right;
  float: left;
}
/* line 26, ../../scss/blocks/button.scss */
.button:active .button__left {
  background-position: top left;
}
/* line 29, ../../scss/blocks/button.scss */
.button:active .button__right {
  background-position: top right;
}
/* line 35, ../../scss/blocks/button.scss */
.button--large {
  font-size: 30px;
}
/* line 39, ../../scss/blocks/button.scss */
.button--large .button__left {
  background-image: url("../../img/button-yellow-large.png");
  padding-left: 19px;
  height: 70px;
}
/* line 44, ../../scss/blocks/button.scss */
.button--large .button__label {
  padding: 17px 16px;
}
/* line 47, ../../scss/blocks/button.scss */
.button--large .button__right {
  background-image: url("../../img/button-yellow-large.png");
  padding-right: 19px;
  height: 70px;
}
/* line 55, ../../scss/blocks/button.scss */
.button--large:active .button__label {
  padding: 18px 16px 15px;
}
/* line 61, ../../scss/blocks/button.scss */
.button--small {
  font-size: 13px;
}
/* line 65, ../../scss/blocks/button.scss */
.button--small .button__left {
  background-image: url("../../img/button-yellow-small.png");
  padding-left: 11px;
  height: 45px;
}
/* line 70, ../../scss/blocks/button.scss */
.button--small .button__label {
  padding: 17px 5px;
}
/* line 73, ../../scss/blocks/button.scss */
.button--small .button__right {
  background-image: url("../../img/button-yellow-small.png");
  padding-right: 11px;
  height: 45px;
}
/* line 81, ../../scss/blocks/button.scss */
.button--small:active .button__label {
  padding: 18px 5px 15px;
}
/* line 87, ../../scss/blocks/button.scss */
.button--uppercase {
  text-transform: uppercase;
}
/* line 91, ../../scss/blocks/button.scss */
.button--block {
  display: block;
  width: 100%;
}
/* line 96, ../../scss/blocks/button.scss */
.button--light {
  text-align: center;
  color: #fff;
  background-color: #303030;
  padding: 2px 0px 7px 0px;
}
/* line 102, ../../scss/blocks/button.scss */
.button--light i, .button--light span {
  vertical-align: text-top;
}
/* line 105, ../../scss/blocks/button.scss */
.button--light span {
  padding-top: 3px;
  padding-left: 3px;
}
