/*
	Main scss
*/
/* line 7, ../../scss/blocks/main.scss */
.main p,
.main h1 {
  color: #fff;
}
/* line 12, ../../scss/blocks/main.scss */
.main__content {
  padding-top: 1px;
}
/* line 15, ../../scss/blocks/main.scss */
.main__logo {
  margin: 0 auto 40px;
  width: 250px;
}
/* line 19, ../../scss/blocks/main.scss */
.main__logo img {
  max-width: 100%;
}
/* line 23, ../../scss/blocks/main.scss */
.main__loader {
  text-align: center;
  margin: 0 auto 40px;
}
/* line 27, ../../scss/blocks/main.scss */
.main__tagline {
  text-align: center;
}
/* line 30, ../../scss/blocks/main.scss */
.main__tagline--second {
  padding-top: 70px;
}
/* line 34, ../../scss/blocks/main.scss */
.main__found {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
}
