/*
	Onboarding scss
*/
/* line 6, ../../scss/blocks/onboarding.scss */
.onboarding p,
.onboarding h1,
.onboarding h2 {
  color: #fff;
}
/* line 12, ../../scss/blocks/onboarding.scss */
.onboarding input {
  border: none;
  width: 100%;
  font-size: 25px;
  color: #000;
  background: none;
  font-family: Anivers-Regular;
  padding: 5px 0px;
  color: #fff;
}
/* line 23, ../../scss/blocks/onboarding.scss */
.onboarding ::-webkit-input-placeholder {
  color: #fff;
}
/* line 27, ../../scss/blocks/onboarding.scss */
.onboarding :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
/* line 31, ../../scss/blocks/onboarding.scss */
.onboarding ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
/* line 35, ../../scss/blocks/onboarding.scss */
.onboarding :-ms-input-placeholder {
  color: #fff;
}
/* line 39, ../../scss/blocks/onboarding.scss */
.onboarding__input-border {
  background-image: url("../../img/onboarding-input-border.png");
  background-position: center;
  background-size: 175px 5px;
  width: 100%;
  height: 5px;
}
/* line 47, ../../scss/blocks/onboarding.scss */
.onboarding__item {
  width: 320px;
  height: 480px;
}
/* line 51, ../../scss/blocks/onboarding.scss */
.onboarding__item-title {
  padding-top: 10px;
}
/* line 54, ../../scss/blocks/onboarding.scss */
.onboarding__item-title h1 {
  font-size: 27px;
}
/* line 58, ../../scss/blocks/onboarding.scss */
.onboarding__item-title--uppercase {
  text-transform: uppercase;
}
/* line 63, ../../scss/blocks/onboarding.scss */
.onboarding__item-title--small h1 {
  font-size: 21px;
}
/* line 69, ../../scss/blocks/onboarding.scss */
.onboarding__item-subtitle {
  padding-top: 25px;
}
/* line 72, ../../scss/blocks/onboarding.scss */
.onboarding__item-subtitle h2 {
  font-size: 21px;
}
/* line 76, ../../scss/blocks/onboarding.scss */
.onboarding__item-subtitle--uppercase {
  text-transform: uppercase;
}
/* line 81, ../../scss/blocks/onboarding.scss */
.onboarding__item-img {
  padding-top: 10px;
  width: 90px;
  margin: 0 auto;
  position: relative;
}
/* line 87, ../../scss/blocks/onboarding.scss */
.onboarding__item-img img {
  max-width: 100%;
}
/* line 92, ../../scss/blocks/onboarding.scss */
.onboarding__item-input {
  padding: 10px 0px 4px;
  width: 175px;
  margin: 0 auto;
}
/* line 98, ../../scss/blocks/onboarding.scss */
.onboarding__item-nav {
  text-align: center;
  width: 250px;
}
/* line 102, ../../scss/blocks/onboarding.scss */
.onboarding__item-nav .button {
  margin: 18px 0px;
}
/* line 107, ../../scss/blocks/onboarding.scss */
.onboarding__item-bee {
  background-image: url("../../img/onboarding-home-bee.png");
  background-size: 37px 36px;
  width: 37px;
  height: 36px;
  opacity: 0;
  display: inline-block;
  position: absolute;
}
/* line 118, ../../scss/blocks/onboarding.scss */
.onboarding__content {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 125, ../../scss/blocks/onboarding.scss */
.onboarding__section {
  padding-top: 1px;
  overflow: hidden;
}
/* line 130, ../../scss/blocks/onboarding.scss */
.onboarding__nav {
  padding-top: 1px;
}
/* line 134, ../../scss/blocks/onboarding.scss */
.onboarding__pag {
  padding-top: 5px;
  height: 55px;
}
/* line 138, ../../scss/blocks/onboarding.scss */
.onboarding__pag-ul {
  list-style: none;
  overflow: hidden;
  margin: 0 auto;
  width: 250px;
}
/* line 145, ../../scss/blocks/onboarding.scss */
.onboarding__pag-li {
  float: left;
  width: 50px;
  height: 55px;
}
/* line 150, ../../scss/blocks/onboarding.scss */
.onboarding__pag-li .nav-icon {
  transition: margin .2s;
  margin: 10px;
}
/* line 155, ../../scss/blocks/onboarding.scss */
.onboarding__pag-li img {
  width: 100%;
}
/* line 160, ../../scss/blocks/onboarding.scss */
.onboarding__pag-li--active .nav-icon {
  transition: margin .2s;
  margin: 0px;
}
/* line 168, ../../scss/blocks/onboarding.scss */
.onboarding__selection {
  position: relative;
  width: 182px;
  margin-left: 90px;
  height: 120px;
}
/* line 174, ../../scss/blocks/onboarding.scss */
.onboarding__selection-next, .onboarding__selection-prev {
  width: 90px;
  height: 126px;
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
/* line 183, ../../scss/blocks/onboarding.scss */
.onboarding__selection-prev {
  top: 0;
  right: 0;
}
/* line 187, ../../scss/blocks/onboarding.scss */
.onboarding__selection-next {
  top: 0;
  left: 0;
}
/* line 191, ../../scss/blocks/onboarding.scss */
.onboarding__selection-holder {
  width: 272px;
  overflow: hidden;
  position: relative;
  padding: 20px 0px 0px;
  height: 100px;
}
/* line 200, ../../scss/blocks/onboarding.scss */
.onboarding__selection ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 208, ../../scss/blocks/onboarding.scss */
.onboarding__selection li {
  float: left;
  width: 90px;
  text-align: center;
  font-size: 55px;
  padding-top: 20px;
  color: #c0d8dc;
  transition: color 0.2s ease;
  transition: padding-top 0.2s;
  transition: font-size 0.2s ease;
}
/* line 221, ../../scss/blocks/onboarding.scss */
.onboarding__selection .active {
  color: #fff;
  font-size: 71px;
  padding-top: 10px;
}
/* line 227, ../../scss/blocks/onboarding.scss */
.onboarding__amount {
  margin-bottom: 30px;
}
/* line 230, ../../scss/blocks/onboarding.scss */
.onboarding__amount h2 {
  font-size: 37px;
  text-transform: uppercase;
  text-align: center;
}
/* line 237, ../../scss/blocks/onboarding.scss */
.onboarding__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  opacity: 0;
}
/* line 245, ../../scss/blocks/onboarding.scss */
.onboarding__animation-inner {
  padding: 140px 40px 0px;
}
/* line 248, ../../scss/blocks/onboarding.scss */
.onboarding__animation-inner p {
  text-align: center;
  font-size: 26px;
}
