.app {

	p,
	h1,
	h2 {
		color: #fff;
	}

	&__header {
		overflow: hidden;

		.button--close {
			float: right;
			margin: 15px;
		}
	}

	&__title {
		h1 {
			font-size: 21px;
		}
	}

	&__carousel {
		height: 110px;
		overflow: hidden;
		padding-top: 10px;

		ul {
			width: 20000em;
	    	position: relative;
	    	list-style: none;
	    	margin: 0;
		}

		li {
			float: left;
			width: 272px;
		}

		&-hgroup {
			h1 {
				font-size: 29px;
			}
			h2 {
				font-size: 60px;
			}
		}

		&-nav {
			text-align: center;
			padding: 10px 0px;
			margin-bottom: 29px;

			a {
				margin: 0px 5px;

				.icon {
					transition: background-position .2s ease;
					background-position: top left;
				}
			}

			.active {
				.icon {
					background-position: bottom left;
				}
			}
		}
	}

	&__flower {
		width: 100%;
		height: 345px;
		position: absolute;
		bottom: 0;
		left: 0;

		&-content {
			background-image: url("../../img/app-flower.png");
			background-size: 142px 345px;
			width: 142px;
			height: 345px;
			margin: 0 auto;
		}
	}

	&__overlay {
		width: 100%;
		height: 100%;
		max-height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(36, 141, 155, 0.9);
		z-index: 1;

		&-content {
			padding: 33px 16px;

			p {
				font-size: 18px;
			}
		}

		&-nav {
			padding: 0px 25px;
			text-align: center;
			margin-bottom: 57px;
		}
	}

	&__menu-bar {
		position: absolute;
		width: 100%;
		height: 4em;
		left: 0;
		bottom: 0;

	 	ul {
			list-style: none;
			height: 100%;

			li {
				float: left;
				width: 25%;
				height: 100%;
				vertical-align: top;
				color: #fff;
				text-align: center;

				a {
					text-decoration: none;
				}

				i {
					vertical-align: text-top;
					height: 35px;
				}

				span {
					display: block;
					text-align: center;
					font-size: 0.9em;
					vertical-align: text-top;
					color: #fff;
				}
			}
		}
	}
}