.icon {
	display: inline-block;

	&--loader {
		background-image: url("../../img/loader.gif");
		background-size: 96px 105px;
		width: 96px;
		height: 105px;
	}
	&--wifi {
		background-image: url("../../img/wifi.gif");
		background-size: 99px 78px;
		width: 99px;
		height: 78px;
	}
	&--light {
		background-image: url("../../img/icon-light.png");
		background-size: 19px 22px;
		width: 19px;
		height: 22px;
	}
	&--hexagon {
		background-image: url("../../img/icon-hexagon.png");
		background-size: 17px 38px;
		width: 17px;
		height: 19px;
	}
}