.icon {
	display: inline-block;
	background-repeat: no-repeat;

	&--loader {
		background-image: url("../../img/loader.gif");
		background-size: 96px 105px;
		width: 96px;
		height: 105px;
	}
	&--wifi {
		background-image: url("../../img/wifi.gif");
		background-size: 99px 78px;
		width: 99px;
		height: 78px;
	}
	&--light {
		background-image: url("../../img/icon-light.png");
		background-size: 19px 22px;
		width: 19px;
		height: 22px;
	}
	&--hexagon {
		background-image: url("../../img/icon-hexagon.png");
		background-size: 17px 38px;
		width: 17px;
		height: 19px;
	}
	&--close {
		background-image: url("../../img/icon-app-close.png");
		background-size: 23px 22px;
		width: 23px;
		height: 22px;
	}

	&--app {
		&-home {
			background-image: url("../../img/icon-app-home.png");
			background-size: 37px 29px;
			width: 37px;
			height: 29px;
		}
		&-room {
			background-image: url("../../img/icon-app-room.png");
			background-size: 27px 32px;
			width: 27px;
			height: 23px;	
		}
		&-sensor {
			background-image: url("../../img/icon-app-sensor.png");
			background-size: 31px 31px;
			width: 31px;
			height: 31px;	
		}
		&-options {
			background-image: url("../../img/icon-app-options.png");
			background-size: 31px 31px;
			width: 31px;
			height: 31px;	
		}
	}
}
