/*
	Onboarding scss
*/

.onboarding {

	input{
		border:none;
		width:100%;
		font-size: 2em;
		color:#555;
		background:#E5E0CE;
		font-family: Anivers-Regular;

	}

	&__item {
	    width: 320px;
	    height: 500px;

	    &-title {
	    	padding-top: 25px;
	    }

	    &-img {
	    	padding-top: 25px;
	    	
	    	img {
	    		max-width: 100%;
	    	}
	    }

	    &-input {
			border-bottom:1px solid black;
			padding:25px 0px 4px;
		}
	}

	&__content {
	    max-width: 320px;
	    margin: 0 auto;
	    position: relative;
	    overflow: hidden;
	}

	&__section {
	    padding-top: 1px;
	    overflow: hidden;
	}

	&__nav {
	    padding-top: 1px;
	}

	&__pag {
		padding-top: 25px;
		
		&-ul {
			list-style: none;
			overflow: hidden;
			text-align: center
		}

		&-li {
			display: inline-block;
		}
	}

}