@font-face {
    font-family: Anivers-Regular;
    src: url(../fonts/Anivers-Regular.ttf);
}

*{
	margin:0;
	padding:0;
}

body section:not(.a){
	/*display:none;*/
}

body{
	font-family: Anivers-Regular, sans-serif;
	background:#E5E0CE;
}

section{
	width:85%;
	margin:auto;
	background:#E5E0CE;
}

h1{
	text-align: center;
	font-size: 2.4em;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1.3em;
}

h2{
	font-size: 2.2em;
	font-weight: 100;
	text-align: center;
}

/*----------------images------------------------*/

.logo{
	display:block;
	margin:auto;
	width:50vh;
}

.houseImage{
	display:block;
	width:35vh;
	margin:auto;
}

.flower{
	display:block;
	width: 9em;
	margin:auto;
	margin-top:3.3em;
}

.nextButton{
	position: absolute;
	width:4em;
	right:7%;
}

.hexagon-large{
	display:block;
	width:40vh;
	margin:auto;
}

/*------------------------------------------------*/

.subtext{
	display: block;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 100;
	text-align: center;
}

.button{
	background:#333;
	color:white;
	width:100%;
	font-size: 1.3em;
	margin:auto;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.4em;
	border-radius: 0.3em;
}

.unit{
	font-size: 3.1em;
	margin-left: 0.5em;
	line-height: 5.2em;
	display:inline-block;
	vertical-align: top;
}

.selection{
	height:14em;
}

.progress{
	text-align: center;
	width:80%;
	margin:auto;
	margin-top:1em;
}

.progress li:not(:nth-of-type(1)){
	margin-left:1.5em;
}

.slider{
	text-align: center;
	width:80%;
	margin:auto;
	margin-top:2em;
}

.slider li:not(:nth-of-type(1)){
	margin-left:1.5em;
}

.overlay{
	position:fixed;
	background: rgba(255,255,255,0.9);
	top:0;
	left:0;
	width:100%;
	height: 50vh;
	display: none;
	
	/*Gradient*/
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.95) 80%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(80%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 80%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 80%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 80%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 80%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}


/*-----------------------------Hexagons--------------------------------------------*/

.hexagon {
	width: 20px;
	height: 11px;
	background: #FA9326;
	position: relative;
	display:inline-block;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 5px solid #FA9326;
}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 5px solid #FA9326;
}
/*---------------------------------------------------------------------------*/









/*Loadingscreen*/

#loadingscreen .logo{
	margin-top:1em;
}

#loadingscreen .hexagon-large{
	margin-top:3em;
}

/*-------------------*/

/*beginscherm*/

#beginscherm>img{
	margin-top:10%;
}

#beginscherm h2{
	text-transform: uppercase;
	margin-top:13vh;
}
/*-------------------*/

/*Geef je huis een naam*/
#nameHouse .input_holder{
	border-bottom:1px solid black;
	padding:4px 0px;
	margin-top:1em;
}

#nameHouse h1{
	margin-top: 1em;
}

#nameHouse input{
	border:none;
	width:100%;
	font-size: 2em;
	color:#555;
	background:#E5E0CE;
	font-family: Anivers-Regular;

}

#nameHouse input:focus{
	outline:none;
}

#nameHouse .houseImage{
	margin-top:3em;
}

#nameHouse .progress{
	text-align: center;
	width:80%;
	margin:auto;
	margin-top:6em;
}

#nameHouse ul li:not(:nth-of-type(1)){
	margin-left:10%;
}

#nameHouse .progress .hexagon:nth-of-type(1){
	background:#FEC032;
}

#nameHouse .progress .hexagon:nth-of-type(1):before{
	border-bottom: 5px solid #FEC032;
}

#nameHouse .progress .hexagon:nth-of-type(1):after{
	border-top: 5px solid #FEC032;
}

/*-----------------------------------------*/


/*---------Geef je huis een naam-----------*/
#nameRoom .input_holder{
	border-bottom:1px solid black;
	padding:4px 0px;
	margin-top:10%;
}

#nameRoom h1{
	margin-top: 1em;
}

#nameRoom input{
	border:none;
	width:100%;
	font-size: 2em;
	color:#555;
	background:#E5E0CE;
	font-family: Anivers-Regular;

}

#nameRoom input:focus{
	outline:none;
}

#nameRoom .houseImage{
	margin-top:15%;
}

#nameRoom .progress{
	margin-top:6em;
}


#nameRoom .progress .hexagon:nth-of-type(2){
	background:#FEC032;
}

#nameRoom .progress .hexagon:nth-of-type(2):before{
	border-bottom: 5px solid #FEC032;
}

#nameRoom .progress .hexagon:nth-of-type(2):after{
	border-top: 5px solid #FEC032;
}

/*-----------------------------------------*/


/*----------------Wattage------------------*/

#wattage h1{
	margin-top:1em;
}

#wattage .subtext{
	margin-top:1em;
}

#wattage .button{
	margin-top:1em;
}

#wattage .selection{
	height:12em;
}

#wattage .amount {
	list-style: none;
	display:inline-block;
	height:100%;
}

#wattage .amount div{
	font-size: 2.5em;
	line-height: 1.5em;
	color:#aaa;
}

#wattage .amount div:nth-of-type(2){
	color:black;
	font-size: 4.3em;
	line-height: 1.6em;
}

#wattage .progress{
	margin-top:6em;
}

#wattage .progress .hexagon:nth-of-type(3){
	background:#FEC032;
}

#wattage .progress .hexagon:nth-of-type(3):before{
	border-bottom: 5px solid #FEC032;
}

#wattage .progress .hexagon:nth-of-type(3):after{
	border-top: 5px solid #FEC032;
}

/*-----------------------------------------*/

/*----------------Wattage------------------*/

#activity h1{
	margin-top:1em;
}

#activity .subtext{
	margin-top:1em;
	font-size: 1.1em;
}

#activity .amount {
	list-style: none;
	display:inline-block;
	height:100%;
}

#activity .amount li{
	font-size: 2.5em;
	line-height: 1.5em;
	color:#aaa;
}

#activity .amount li:nth-of-type(2){
	color:black;
	font-size: 4.3em;
	line-height: 1.6em;
}

#activity .unit{
	font-size: 2.7em;
	line-height: 5.7em;
}

#activity .progress{
	margin-top:6em;
}

#activity .progress .hexagon:nth-of-type(4){
	background:#FEC032;
}

#activity .progress .hexagon:nth-of-type(4):before{
	border-bottom: 5px solid #FEC032;
}

#activity .progress .hexagon:nth-of-type(4):after{
	border-top: 5px solid #FEC032;
}

/*-----------------------------------------*/

/*-----------------Ready-------------------*/

#ready .subtext{
	margin-top:2em;
}

#ready>span:nth-of-type(2){
	display:block;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin-top:1em;
}

#ready .button{
	margin-top:1em;
}

#ready .progress {
	margin-top:18em;
}

#ready .progress .hexagon:nth-of-type(5){
	background:#FEC032;
}

#ready .progress .hexagon:nth-of-type(5):before{
	border-bottom: 5px solid #FEC032;
}

#ready .progress .hexagon:nth-of-type(5):after{
	border-top: 5px solid #FEC032;
}
/*-----------------------------------------*/

/*---------------Main screeen--------------*/

#mainScreen h1{
	text-transform: none;
	font-size: 1.5em;
	margin-top:0.5em;
}

#mainScreen h2{
	font-size: 1.4em;
	margin-top:0.6em;
}

#mainScreen .slider li:nth-of-type(1){
	background:#FEC032;
}

#mainScreen .slider li:nth-of-type(1):before{
	border-bottom: 5px solid #FEC032;
}

#mainScreen .slider li:nth-of-type(1):after{
	border-top: 5px solid #FEC032;
}

#mainScreen>span{
	display: block;
	font-size: 2.4em;
	text-align: center;
	margin-top:0.2em;
}

#mainScreen>.overlay>.wrapper{
	width:80%;
	margin:auto;
}

#mainScreen>.overlay>.wrapper>span{
	display:block;
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: center;
	margin-top:3.5em;
}
/*-----------------------------------------*/



/*---------------footer--------------*/

footer{
	position: fixed;
	width:100%;
	height:4em;
	background: #303030;
	left:0;
	bottom:0;
	display: none;
}

footer>ul{
	list-style: none;
	height: 100%;
}

footer>ul li{
	display: inline-block;
	width: 25%;
	height: 100%;
	vertical-align: top;
	color:#E5E0CE;
}

footer>ul li img{
	display: block;
	height: 50%;
	margin:auto;
	margin-top:0.3em;
}

footer>ul li span{
	display: block;
	text-align: center;
	font-size: 0.9em;
	margin-top: 0.2em;
}

/*-----------------------------------------*/














